{% extends 'animals/base.html' %}

{% block content %}
<img src="/static/animals/images/photo.png" width="400px" height="400px" align="right">
<center><h1>Добро пожаловать!</h1></center>
    <p align="left">Меня зовут Владислав, я являюсь создателем данного сайта!<br>
    Сейчас я еще только осваиваю Web-Программирование и собираю своё портфолио.<br><br>
    В этом проекте я старался реализовать такие функции:
    <ul>
    <li>Авторизация пользователей</li>
    <li>Добавление/Удаление/Редактирование статей через личный кабинет</li>
    <li>Сортировка статей по категориям</li>
    <li>Возможность работы с admin панелью</li>
</ul>
<p>В этом деле используется стек технологий:
    <ul>
    <li>Python</li>
    <li>Django</li>
    <li>SQLite</li>
    <li>HTML5</li>
    <li>CSS3</li>
</ul>
{% endblock %}
