{% extends 'animals/base.html' %}

{% block content %}
<center><h1>home_animals.info</h1></center>
<center><h1>САЙТ О ДОМАШНИХ ЖИВОТНЫХ</h1></center><br>
<img src="/static/animals/images/1.png" width="200px" height="200px">
<img src="/static/animals/images/2.png" width="200px" height="200px">
<img src="/static/animals/images/3.png" width="200px" height="200px">
<img src="/static/animals/images/4.png" width="200px" height="200px">
<img src="/static/animals/images/5.png" width="200px" height="200px">
<img src="/static/animals/images/6.png" width="200px" height="200px">

{% endblock %}
